@model TDB.Characters

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Characters</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstApp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoiceAct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoiceAct.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
